footer {
    .footer-wrapper {
    display:block;
    .footer-navigation {
        flex:50%;
        background-color: $sea;
        text-align:center;
        ul {
            padding:0;
            padding-top:4px;
                li {
                    margin:17px;
                    text-transform: uppercase;
                    list-style-type: none;
                    margin-right:16px;
                    a {
                         text-decoration: none;
                         color:$white-text; 
                         &:hover {
                            color:$coral;
                         }
                    }
                }
            }
        hr {
            padding-bottom: 1px;
            background-color: #ff8235;
            border-bottom: 1px solid #ff8235;
            margin: 4px;
            padding: 0;
            width: 126px;
            margin:0 auto;
            }
            .social {
                text-align: center;
                ul {
                display: flex; 
                justify-content: center;
                }
                
            }    
        }
    }
    .footer-contact {
        flex:50%;
        background-image: url(contact-jeff-lin-attourney.png);
        .footer-contact-info {
            background-color: #fff;
            text-align: center;
            color:$sea;
            width: 250px;
            margin:0 auto;
            padding: 15px 11px;
            -webkit-box-shadow: 1px 1px 0.75rem rgba(0,0,0,.2);
            box-shadow: 1px 1px 0.75rem rgba(0,0,0,.2);
            line-height: 1.5;
            h6 {
                font-size: 17px;
                margin: 5px 0;
            }
            span { 
                .fas {
                padding-right: 7px;
                } 
                a {
                      color:$sea;  
                   text-decoration: none;
                }   
            }  
        }
    }
    .copyright {
        text-align: center;
        line-height: 1.4;
        margin:10px;
        color:$sea;
        h4 {
            margin:0;
        }
        p {
            margin:0;
        }
    }    
}
@media screen and (min-width: $desktopMedium){
    footer {
        .footer-wrapper {
        display:flex;
        .footer-navigation {
            flex:50%;
            background-color: $sea;
            text-align:center;
            ul {
                padding:0;
                    li {
                        margin:17px;
                        text-transform: uppercase;
                        list-style-type: none;
                        margin-right:16px;
                        a {
                             text-decoration: none;
                             color:$white-text; 
                             &:hover {
                                color:$coral;
                             }
                        }
                    }
                }
            hr {
                padding-bottom: 1px;
                background-color: #ff8235;
                border-bottom: 1px solid #ff8235;
                margin: 4px;
                padding: 0;
                width: 126px;
                margin:0 auto;
                }
                .social {
                    text-align: center;
                    ul {
                    display: flex; 
                    justify-content: center;
                    }
                    
                }    
            }
        }
        .footer-contact {
            flex:50%;
            background-image: url(contact-jeff-lin-attourney.png);
            .footer-contact-info {
                background-color: #fff;
                text-align: left;
                color:$sea;
                width: 300px;
                margin-left: 40px;
                padding: 20px 49px;
                -webkit-box-shadow: 1px 1px 0.75rem rgba(0,0,0,.2);
                box-shadow: 1px 1px 0.75rem rgba(0,0,0,.2);
                line-height: 1.5;
                h6 {
                    font-size: 17px;
                    margin: 5px 0;
                }
                span { 
                    .fas {
                    padding-right: 7px;
                    } 
                    a {
                       color:$sea;  
                       text-decoration: none;
                    }   
                }  
            }
        }
        .copyright {
            text-align: center;
            line-height: 1.4;
            margin:10px;
            color:$sea;
            h4 {
                margin:0;
            }
            p {
                margin:0;
            }
        }    
    }
}
        
    
