
.first-page {
  position:relative;
	.main-image {
		.parallax { 
			background-image: url("main3.jpg");
			height: calc(100vh - 122px); 
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.typedtext {
		position: absolute;
		z-index:1;
		top: 33px;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		color: $white-text;
		line-height: 1.4;
		h3 {
			margin: 0;
			font: 24px/39px $ptsans;
			text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
			letter-spacing: 0.019em;
		}
	}
	.main-image-text {
		position: absolute;
		z-index:1;
		text-align: center;
		right: 20px;
		top: -19px;
		margin: 0;
		color: $sea;
		.box {
			display: none;
			margin-top: 135px;
			border:1px solid $coral;
			background-color: Transparent;
			background-repeat: no-repeat;
			cursor: pointer;
			overflow: hidden;
			outline: none;
			.button {
				padding: 5px;
				text-decoration: none;
				color: $coral;
				font: 13px "PT Sans";
				text-transform: uppercase;
				span {
					font: 9px "PT Serif";
					text-transform: lowercase;
					color: $arrow;
				}
			}
			.hvr-sweep-to-left {
				@include sweep-to-left;
			}
			.hvr-sweep-to-left:before {
				@include sweep-to-left-before;
			}
			.hvr-sweep-to-left:hover, 
			.hvr-sweep-to-left:focus, 
			.hvr-sweep-to-left:active {
				color:$black;
			}
			.hvr-sweep-to-left:hover:before, 
			.hvr-sweep-to-left:focus:before, 
			.hvr-sweep-to-left:active:before {
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}
		}
	}
	.facts-and-numbers {
		background: none repeat scroll 0 0 $sea;
		bottom: 0;
		height: 100px;
		width: 100%;
		color: $white-text;
		display: flex;
		justify-content: space-evenly;
		.fact {
			font: 9px/22px $ptserif;
			margin: 10px;
			text-align: center;
			align-self: center;
			.counter {
				font-size: 22px;    
				color: $coral;
			}
			span {
				font-size: 23px;
				color: $coral;
			}
			h3 {
				font-size: 16px;
				margin: 0;
				color: $white-text; 
				font-weight: 300;    
			}
		}
	}	
}

.about-section {
    margin: 0 auto;
    max-width: 1210px;
    top: 1140px;
    text-align: center;
	background-color: $white-bgc;
	h2 {
		@include title;
		margin: 40px 15px;
		border: 1px solid $border-color;
		color: #00376b;
    }
    .about-text-image-wrapper {
		display:flex;
		img {
			display:none;
		}
		.text-image {
			p {
				color: $dark-grey-text;
    			text-align: left;
				letter-spacing: 0.019em;
    			line-height: 26px;
				margin: 0 30px;
				font: 17px $ptsans;
			}
		}
		.checkmarks {
			display:flex;
			flex-wrap: wrap;
			flex-direction: column;
			line-height: 26px;
			letter-spacing: 0.019em;    
			margin-top: 30px;
			.checkmark {
				.fas {
					color:$coral;
					font-size:22px;
				}
				span {
					font-size:20px;
					font: 14px/13px $ptserif;
					text-transform: lowercase;
					color:$dark-grey-text;
					font-style: italic;
				}
			}
		}
		.box {
			margin: 0 auto;
			margin-top: 30px;
			margin-bottom: 30px;
			font-size: 30px;
			border: 1px solid $coral;
			width: 99px;
			background-color: Transparent;
			background-repeat: no-repeat;
			cursor: pointer;
			overflow: hidden;
			outline: none;
			.button {
				padding:12px;
				text-decoration: none;
				font: 15px "PT Sans";
				color:$coral;
			}
			&:hover {
				color: $dark-grey-text;
			}
			.hvr-sweep-to-left {
				@include sweep-to-left;
			}
			.hvr-sweep-to-left:before {
				@include sweep-to-left-before; 
			}
			.hvr-sweep-to-left:hover, 
			.hvr-sweep-to-left:focus, 
			.hvr-sweep-to-left:active {
				color: $black;
			}
			.hvr-sweep-to-left:hover:before, 
			.hvr-sweep-to-left:focus:before, 
			.hvr-sweep-to-left:active:before {
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}
		}
    }
}  

.practice-areas {
	@include parallax;
	background-color: $sea;
	text-align: center;
	background-image: url("practice-bgc.jpg");
	background-attachment: fixed;
	.content-wrapper {
		margin: 0 auto;
		max-width: 1210px;
		text-align: center;
		padding: 30px;
		h2 {
			margin: 40px 15px;
			border: 1px solid $white-text;
			color: $white-text;
			background-color: transparent;
			@include title;
		}
		* {
			transition: all 0.3s ease-out;
		}
		.container {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			padding-bottom: 40px;
			.card {
				display: block;
				position: relative;
				width: 250px;
				background-color: #f2f8f9;
				border-radius: 4px;
				padding: 14px 21px;
				margin: 12px;
				text-decoration: none;
				z-index: 0;
				overflow: hidden;
				.fas {
					font-size: 48px;
					color:black;
					&:hover {
						color:white;
					} 
					h3 {
						font: 21px/28px $ptserif;
						text-transform: capitalize;
					}
				}
				&:before {
					content: "";
					position: absolute;
					z-index: -1;
					top: -16px;
					right: -16px;
					background: $coral;
					height: 44px;
					width: 41px;
					border-radius: 32px;
					transform: scale(1);
					transform-origin: 50% 50%;
					transition: transform 0.25s ease-out;
				}
				&:hover:before {
					transform: scale(21);
				}
				h3 {
					color: #262626;
					font-size: 17px;
					line-height: 24px; 
					font-weight: 700;
					margin-bottom: 4px;
				}
				p {
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					color: #666666;
					&.small {
						font-size: 17px;
					}
				}
				.go-corner {
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					width: 32px;
					height: 32px;
					overflow: hidden;
					top: 0;
					right: 0;
					background-color: $coral;
					border-radius: 0 4px 0 32px;
					.go-arrow {
						margin-top: -4px;
						margin-right: -4px;
						color: white;
						font-family: courier, sans;
					}
				}
			}
			.card1:hover {
				p {
					transition: all 0.3s ease-out;
					color: rgba(255, 255, 255, 0.8);
				}
				h3 {
					transition: all 0.3s ease-out;
					color: #ffffff;
				}
			} 
		}	
	}
	   
}

.testimonials {
    margin: 0 auto;
    text-align: center;
	background-color: #fdfdfd;
    h2 {
		margin: 40px -22px;
		border: 1px solid $border-color;
		color: $sea;
		@include title;
      }
      	.slider {
			line-height: 28px;
			letter-spacing: 0.0156em;
			.slide {
				.groucho {
					position: relative;
					font: 17px/23px $ptsans;
					color: $dark-grey-text;
					footer {
						line-height: 28px;
						letter-spacing: 0.0156em;
						font-size: 0.6em;
						font-weight: 700;
						color: darken($white, 15%);
						float: right;  
						&:before {
							content: '\2015';  
						}
					}
					&:after {
						content: '\201D';
						position: absolute;
						top: 0.28em;
						right: 0;
						font-size: 6em;
						font-style: italic;
						color: darken($white, 7%);
						z-index: -1;
					}
				}
			}
      	}
}
// MEDIA
// MEDIA
// MEDIA
// MEDIA
// MEDIA
// MEDIA
// MEDIA 
//375
@media screen and (min-width: $iphone6){
	.first-page {
		.typedtext {
			top: 45px;
			right: 23px;
			h3 {
				margin: 0;
				font: 21px/40px $ptserif;
			}
		}
	}  
}
//411
@media screen and (min-width: 411px){
	.first-page {
		.typedtext {
			top: 45px;
			right: 40px;
		}
	}  
}
//420
@media screen and (min-width: $phoneIphone){  
	.first-page {
		.typedtext {
			text-align: right;
			top:26px;
			right: 20px;
		}
		.main-image-text {
			.box {
				display: block;
			}
		}
	}
	.practice-areas {
		.content-wrapper {
			.container {
				.card {
					width: 300px;
				}
			}
		}
	}
	.testimonials { 
		padding: 30px;
	}
	footer {
		.footer-wrapper {
			.footer-navigation {
				.social {
					ul {
						margin: 0;
					}
				}
			}
		}
	}
}
//640
@media screen and (min-width: $phoneLandscape){
	.first-page {
		.main-image {
			.parallax {
				background-image: url("main.jpg");
				background-position: center;
			}
		}
		.typedtext {
			top: 52px;
			h3 {
				font: 21px/39px "PT Serif", serif;
			}
		}
		.main-image-text {
			.box {
				margin-top: 175px;
			}
		}
	}
	.practice-areas {
		.content-wrapper {
			.container {
				.card {
					width: 350px;
				}
			}
		}	
	}
}
//690 
@media screen and (min-width: $phonePixel) {
	.first-page {
		.typedtext {
			top: 52px;
		}
		.main-image-text {
			.box {
				margin-top: 175px;
			}	
		}
	}
	.about-section {
		padding: 30px;
		.about-text-image-wrapper {
			.text-image {
				margin: 0 60px;
			}
		}
	}
	.practice-areas {
		.content-wrapper {
			.container {
				.card {
					width: 400px;
					padding: 14px 28px;
				}
			}
		}
	}
}
//846
@media screen and (min-width: $tabletPortrait) {
	.first-page {
		.main-image {
			.parallax {
				height: calc(100vh - 122px);
			}
		}
		.typedtext {
			h3 {
				font: 26px/47px "PT Serif", serif;
			}
		}
		.main-image-text {
			.box {
				margin-top: 190px;
			}
		}
		.facts-and-numbers {
			.fact {
				.counter {
					font-size:27px;
				}
			}
		}
	}
	.practice-areas {
		.content-wrapper {
			.container {
				.card {
					padding: 14px 66px;
				}
			}
		}
	}
}
//1024
@media screen and (min-width: $tabletLandscape) {
	.first-page {
		.main-image {
			.parallax {
				background-position: center top;
				background-size: cover;
			}
		}
		.typedtext {
			right: 30px;
		}
		.main-image-text {
			right: 30px;
			.box {
				.button{
					padding: 8px;
				}
			}
		}
	}
	.about-section {
		.about-text-image-wrapper {
			.text-image {
				p {
					font: 17px/21px "PT Sans", sans-serif;
					line-height: 26px;
				}
				.checkmarks {
					margin: 30px 0;
					.checkmark {
						margin: 0 20px;
					}
				}
			}  
		}
	}
	.practice-areas {
		.content-wrapper {
			.container {
				.card {
					padding: 11px 74px;
				}
			}
		}
	}
	.testimonials {
		padding: 50px;
		.slider {
			.slide {
				.groucho {
					color: $dark-grey-text;
					letter-spacing: 0.019em;
					line-height: 26px;
					font: 17px $ptsans;
				}
			}
		}
	}
}
//1250
@media screen and (min-width: $desktopMedium) {  
	.first-page {
		position:relative;
		.main-image {
			.parallax {
				background-image: url("main.jpg");
				height: 100vh;
			}
		}
		.typedtext {
			right: 46px;
			top: 196px;
			h3 {
				margin: 0;
				font: 31px/65px $ptserif;
				text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
			}
		}
		.main-image-text {
			right: 46px;
			top: 345px;
			p {
				color:$sea;
				font-size: 20px;
				margin: 0;
			}
			// Get in touch button
			.box {
				margin-top: 12px;
			}
		}
		.facts-and-numbers {
			.typedtext {
				text-align: right;
				right: 111px;
				top: 269px;
				font-size: 42px;
				h3 {
					margin:0;
					font: 48px/86px $ptserif;
					text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
				}
			}
			.main-image-text {
				right: 111px;
				top: 345px;
				font-size: 51px;
				p {
					color:$sea;
					font-size: 20px;
					margin: 0;
				}
			}
			.fact {
				font: 20px/19px $ptserif;
				padding-top: 20px;
				.counter {
					font-size: 31px;    
				}
				span {
					font-size: 43px;
				}
				h3 {
					font-size: 19px;
					margin: 13px;    
				strong {
					font-size: 43px;
					color: $coral;
					}
				}
			}
		}
	}
  //   ABOUT SECTION
	.about-section {
		padding: 30px;
		h2 {
			margin: 50px 15px;
		}
		.about-text-image-wrapper {
			display:flex;
			img {
				display: block;
				width:400px;
				height: 575px;
				margin-left:40px;
				margin-bottom: 50px;
				}
			.text-image {
				margin: 0;
				p {
					margin: 0;
				}
				.checkmarks {
					display:flex;
					flex-wrap: wrap;
					justify-content: space-evenly;  
					margin-top: 50px;
					flex-direction:row;
					margin: 30px 126px;
					.checkmark {
						padding: 10px;
						margin: 0;
						.fas {
							color:$coral;
							font-size:25px;
						}
						span {
							font-size:20px;
							font: 14px/19px $ptserif;
							text-transform: lowercase;
							color:#000000c9;
							font-style: italic;
						}
					}
				}
				.box {
					width:159px;
					margin-top:50px;
					text-transform: lowercase;
					a {
						width:157px;
						font-size:14px;
						text-transform: lowercase;
					}
				}
			}
		}
	}
	.practice-areas {
			.content-wrapper {
				margin: 0 auto;
				max-width: 1000px;
				text-align:center;
				h2 {
					font: 21px/66px $ptserif;
					line-height: 26px;
					min-width: 370px;
					margin: 80px 15px;
					padding: 30px;
				}
				.container {
					p {
						font-size: 17px;
						&.small {
							font-size: 14px;
						}
					}
					.card {
						max-width: 432px;
						padding: 54px 74px;
						h3 {
							font-size: 20px;
						}
						.fas {
							font-size: 48px;
							color:black;
							&:hover {
								color:white;
							} 
						}
					}
				} 
		}
			
	}
	.testimonials {
		margin: 0 auto;
		max-width: 1000px;
		top: 1140px;
		text-align: center;
		background-color: #fdfdfd;
		padding: 80px 53px;
		h2 {
			margin:0;
			padding-top:20px;
			font: 21px/66px $ptserif;
			line-height: 1;       
			min-width: 239px;
			margin: 40px 15px;
			padding: 30px;
		}
		.slider {
			line-height: 28px;
			letter-spacing: 0.0156em;
			margin-bottom: 61px;
			.slide {
				.groucho {
					position: relative;
					font: 17px $ptsans;
					margin-top:50px;   
					line-height: 26px;       
				}
			}
			.slick-dots {
				margin-bottom:11px;
			}
		}
	}
}
//1400
@media screen and (min-width: 1400px) {  
	.first-page {
		.main-image {
			.parallax {
				height:100vh;
			}
		}	
		.typedtext {
			h3 {
				font: 36px/65px $ptserif;
			}
		}	
		.facts-and-numbers {
			height: 150px;
			.fact {
				.counter {
					font-size: 37px;
				}
			}
		}
	}
	.about-section {
		h2 {
			font: 23px $ptserif;
		}
	}
	.practice-areas {
		.content-wrapper {
			h2 {
				font: 23px $ptserif;
			}
		}
	}
	.testimonials {
		h2 {
			font: 23px $ptserif;
		}
	}
}
//1700
@media screen and (min-width: 1700px) {  
	.first-page {
		.main-image {
			.parallax {
				background-image: url("main4.jpg");
			}
		  }
		.typedtext {
			right: 111px;
			top: 206px;
			text-align: right;
			h3 {
				font: 40px/65px $ptserif;
			}
		}
		.main-image-text {
			right: 111px;
			top: 367px;
			.box {
				margin-top: 12px;
			}
		}
		.facts-and-numbers {
			.typedtext {
				text-align: right;
				right: 111px;
				top: 269px;
				font-size: 42px;
				h3 {
					margin:0;
					font: 48px/86px $ptserif;
					text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
				}
			}
			.main-image-text {
				right: 111px;
				top: 345px;
				p {
					color:$sea;
					font-size: 20px;
					margin: 0;
				}
			}
			.fact {
				font: 20px/19px $ptserif;
				padding-top: 20px;
				.counter {
					font-size: 31px;    
				}
				span {
					font-size: 43px;
					color:$coral;
				}
				h3 {
					font-size: 19px;
					margin: 13px;    
					strong {
						font-size: 43px;
						color: $coral;
					}
				}
			}
		}
	}
}