
  //RIGHT SIDE
// CONTACT FORM
label {
    padding: 10px 0;
}
.contact-right {
	padding-top: 30%;
}
.form-intro {
	.basic-info {
		.form-title {
			display: flex;
			align-items: center;
			justify-content:center;
			font-weight: 100;
			font-size: 19px;
			text-transform: uppercase;
		}
		.name, 
		.email, 
		.message {
			padding:10px 0;
			text-align:center;	
			.input {
				width: 218px;
				height: 43px;
				border: none;
				border-bottom: 1px solid black;
				font-family: $title-font;
			}
			.textarea {
				width: 218px;
				height: 130px;
				border-bottom: 1px solid black;
				margin-top: 10px;
				font-family: $title-font;
			}
			label {
				padding: 10px 0;
			}
		}	
		.button-submit {
			text-align: center;
			input {
				background-color: $sky;
			}	
		}
	}
}

//LEFT SIDE
.left-side-contact {
	display: block;
	.contact-left {
		text-align: center;
		margin: 20px;
		.email-title {
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: $main-font;
		}
		.greeting-text {
			margin-bottom: 0;
		}
		a {
			color: $black;
			text-decoration: none;
		}
	}
}
.form-and-social-wrapper {
  display: flex;
}
.contact-left {
	p {
		font-size: 15px;
	}
	a {
		font-size: 14px;
		img {
			width: 30px;
		}
	}
}
.location{
  display:  flex;
}
.error {
  color: $bright_coral;
}
.thankyou {
  color:$sky;
}
//680
// @media screen and (min-width: $phoneLandscape) {
// 	.left-side-contact {
// 		flex-direction: row;
//     	justify-content: space-around;
// 	}
// }
//690
// @media screen and (min-width: $phonePixel){  
//   .form-left {
//     display:none;
//   }
// }
//780 
@media screen and (min-width: $tabletsmall) {

	.left-side-contact {
		display: block;
		.contact-left {
			padding-top: 15%;
			.greering-text {
				display: block;
			}
		}
		.form-intro {
			display: none;
		}
	}
}
