
.loaded_hidding .spinner {
	transition: 0.3s opacity;
	opacity: 0;
}
.loaded .spinner {
	display: none;
	.all-main-page {
		display: block;
	}
}

.left,
.right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    height: calc(100vh - 167px);
}

.left {
    flex: 3;
    padding-top: 25%;
    // padding-left: 20px;
}
.right {
	display:none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding:0;
	margin:0;
	text-align:center;
}
.home-main-info {
	display: inline;
    .email-title {
		display: flex;
		justify-content: center;
        align-items: center;
        a {
			font-size: 16px;
			text-transform: lowercase;
			padding-left: 3px;
			font-family: $main-font;
        }
    }
    h1 {
		font-size: 37px;
		font-weight: 100px;
		line-height: 1.7;
		text-transform: uppercase;
		text-align: center;
		margin-top: 10px;
		color: $golden;
	}
	h2 {
		font-size: 17px;
		font-weight: 100;
		line-height: 1.7;
		text-transform: uppercase;
	 	text-align: center;
	}
	h3 {
		font-size: 30px;
		font-weight: 100;
		line-height: 1.7;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 0;
		color: $golden;
	}
	.social-media-links {
		display: flex;
   		justify-content: center;
		img {
			width: 20px;
			margin: 5px;
		}
	}
    // p {
    //     font: 500 13px/29px 'open sans';
    //     margin-bottom: 44px;
    // }
}
//also used on the right side of contact page
.circle1 {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	font-size: 14px;
	color: $white;
	line-height: 25px;
	text-align: center;
	background: $golden;
	margin-right: 3px
}

//RIGHT SIDE
.home-project_box {
    height:200px;
    p {
        margin:0;
    } 
	.hompage-project-link {
		display:flex;
		text-decoration:none;
		flex-direction: column;
		color:$black;
		p {
			margin: 13px; 
			padding: 3% 0;
			font-size:12px;
		} 
		.project-image {
			position: relative;
			display: inline-block;
			margin: 0 auto;	
		}
		.project-image .img-top {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 99;
		}
		.project-image:hover .img-top {
			display: inline;
		}
		.image {
			width:100px;
			height:100px;
		}
		.image2 {
			width: 137px;
			height: 26px;
		}
		.image3 {
			width:88px;
			height: 88px;
		}
		img {
			margin: 0 auto;
		}
	}
}	

.home-project_box:nth-child(odd) {
    border:1px solid $black;  
}
.home-project_box:first-of-type {
    border-top: none;
}
.home-project_box:last-of-type {
    border-bottom: none;
}
.home-project_box:nth-child(even) {
    border-left:1px solid $black;  
    border-right:1px solid $black;  
}
//420
@media screen and (min-width: $phonePixel){  
	.home-main-info {
		h1 {
			font: 399 50px/80px 'open sans';
		}
		h2 {
			font: 399 15px/10px 'open sans';
		}
		h3 {
			font: 399 50px/60px 'open sans';
		}
	}
    .container {
        z-index:1;
	}
	
}
//780 
@media screen and (min-width: $tabletsmall) {
	.left {
		padding-top: 20%;
	}
	.right {
		display: block;
	}

}
//850
@media screen and (min-width: $tabletPortrait){  
	.left {
		padding-top: 10%;
	}
    .hompage-project-link {
        p {
            font-size:16px;
        }
    }
    .box-image3 {
        width: 173px;
        height: 32px;
    }
}
//1800 
@media screen and (min-width: $desktopLarge) {
	.left {
		padding-top: 6%;
	}
	.home-main-info {
		text-align: center;
		// .email-title {
		// 	flex-flow: column;
		// }
	}
	.home-project_box {
		height: 268px;
		.hompage-project-link {
			p {
				font-size: 15px;
			}
		}
	}
}