.wrapper-scroll-btn{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 3;
	width: 100%;
	height: 0;
	box-sizing: border-box;
	color: #4b4c4c5e;
	span {
		position: relative;
		max-width: 1920px;
		margin: 0 auto;
		display: block;
		color: #4b4c4c5e;
	}
}

.mainpage-scroll-btn,
.scroll-btn {
	cursor: pointer;
	outline: none !important;
	color: #4b4c4c5e;
	position: absolute;
	bottom: 6px;
	width: 48px;
	height: 48px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	text-indent:  -999em;
	line-height: 35px;
	background: url(../images/bg_topbutton.png) no-repeat left top;
	background-size: 100% 100%;
	overflow: hidden;
	transform: rotate(180deg) translateZ(1px);
	-webkit-transform: rotate(180deg) translateZ(1px);
	-moz-transform: rotate(180deg) translateZ(1px);
	-o-transform: rotate(180deg) translateZ(1px);
	-ms-transform: rotate(180deg);
	transition:  all .45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-webkit-transform: all .45s cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transform: all .45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-moz-transform: all .45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	-o-transform: all .45s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	background-color: #4b4c4c5e;
	border-radius: 50%;
}
.mainpage-scroll-btn {
	right: 30px;
}
.scroll-btn {
	right: 4%;
}
.mainpage-scroll-btn.rotate,
.scroll-btn.rotate{
	transform: rotate(360deg) translateZ(1px);
	-webkit-transform: rotate(360deg) translateZ(1px);
	-moz-transform:  rotate(360deg) translateZ(1px);
	-o-transform: rotate(360deg) translateZ(1px);
	-ms-transform: rotate(360deg);
}
@media screen and (min-width: $phonePixel){ 
	.scroll-btn {
		right: 27%;
	}
}